@import url('https://fonts.googleapis.com/css?family=Hind:300,400');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito+Sans:wght@200&display=swap');
.navbar.bg-light {
  background-color: #6e49de !important;
}
.btn-danger{
background:#e1eaf2; 
color:black;
border-color: #e1eaf2;
border-radius: 40px;
}
.btn-danger:hover {
     color: black;
     background-color: #e1eaf2;
     border-color: #e1eaf2;
 }
.topnav {
  background-color: #e1eaf2;
  overflow: hidden;
  min-height: 48px !important;
  height: 48px !important;
  max-height: 48px !important;  
  text-align: center;
  stop-color: #007BFE;
  padding-top: 10px;
}
.topnav a {
  color: #6e49de;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}
.topnav a.active {
  color: white;
}
.btn-primary {
  background: #6e49de;
  border-color: #6e49de;
  color: #fff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #6e49de;
  border-color: #6e49de;
}
.btn-info {
display: inline-block;
  background: #6e49de;
  border-color: #6e49de;
  color: #fff;
  border-radius: 40px;
}
.btn-info:hover {
  color: #fff;
  background-color: #6e49de;
  border-color: #6e49de;
}
.topnav2 {
background-color: #e0e4fa;
overflow: hidden;
}
.signup{
  margin-bottom: 6px;
}
.topnav2 a {
float: right;
color: #000000;
text-align: center;
text-decoration: none;
font-size: 12px;
}
.topnav2 .active{
  padding: 10px 11px;
}
.topnav2 .active:hover {
background-color: #ffffff;
color: black;
border-radius: 10px;

}
.colour{
    background-color:#6E49DE;
    color: white;
    border-radius: 10px;
    height: 30px;
    border-color: #6E49DE;
}
.secondcolumn{
    padding-left: 20%;
    color: #6c757d;
    background-color: #0000;
    font-family:bloom-reg, "Open Sans", sans-serif, Arial, Nunito;
    font-size:15px;
    font-weight:300;
    margin:0px 0px 6px;

}
.profilecard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
  border-radius: 5px;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

body div h2{
    text-align:left;
    color: #323a46;
    background-color: #0000;
    font-family: inter-bold,bloom-reg,Cat1amaran,Merriweather,'Roboto','Oxygen','Lora','Karla','Sue Ellen Francisco','Neucha','Source Sans Pro','Fira Sans Condensed';
    font-size:30px;
    line-height:33px;
    margin:12px 0px 6px;
    font-weight:700;
}
body div p{
    color: #6c757d;
    background-color: #0000;
    font-family:bloom-reg, "Open Sans", sans-serif, Arial, Nunito;
    font-size:15px;
    font-weight:300;
    margin:0px 0px 6px;
}
.column-1 {
    float: left;
    width: 50%;
  }
  .row-1:after {
    display: table;
    clear: both;
  }
.column-2 {
    float:left;
    width: 33.33%;
    padding:auto;
    
  }
  .row-1{
    padding-left: 10%;
    padding-right: 10%;
    color: #536de6;
  }
  .row-2:after {
    content: "";
    display: table;
    clear: both;
  }
.img1{
    width: 60px;
    height: 60px;
}
.video1{
text-align: center;
}
.divborders{
  border-radius: 10px;
  background-color: rgb(246, 253, 239);
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  
}
.divborders h5{
  color:#536DE6;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding: 4rem;
  width: auto;
}
h3 {
  font-size: 1.75rem;
  color: #373d51;
  padding: 1.3rem;
  margin: 0;
}
.accordion a {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #6A5ACD;
}
.accordion a:hover::after {
  border: 1px solid #6A5ACD;
}
.accordion a.active {
  color: #6A5ACD;
  border-bottom: 1px solid #6A5ACD;
}
.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 4px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}
.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #ff5353;
  border: 1px solid #ff5353;
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
.container2{
  border-radius: 30px;
  border:none;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(253, 246, 231);
  padding-left: 10%;
  padding-right: 10%;

}
.col-lg-4 {
  float: left;
  width: 33.33%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 992px) {
.pricing .card:hover {
  margin-top: -.25rem;
  margin-bottom: .25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}
      
.pricing .card:hover .btn {
  opacity: 1;
}
.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.pricing .card-price {
  font-size: 0.7rem;
  padding-left: 5%;
  font-family: sans-serif;
}

.pricing .card-title {
  font-size: 18px;
  text-align:justify;
  padding-left: 5%;
  padding-top: 5%;
}
.pricing ul li {
  margin-bottom: 1rem;
}
.atn{
  color:#536DE6;
    font-family:bloom-reg, "Open Sans", sans-serif, Arial, Nunito;
    font-size: 15px;
    font-weight: 700;
    line-height: 16.5px;
    letter-spacing: 1.2px;
}
.lead{
  color: #6c757d;
  background-color: #0000;
  font-family:bloom-reg, "Open Sans", sans-serif, Arial, Nunito;
  font-size:15px;
  font-weight:300;
  margin:0px 0px 6px;
}
.d-grid{
  border-radius: 40px;
  color: white;
  padding: 10px 22px;
  text-align: center;
}
.case-study .content p {
  font-size: 16px;
  color: #858481;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

.case-study-content {
  padding: left 155px;
  padding-bottom: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}
.bg-light{
  border-color: wheat
}
.title{
  color:#536DE6;
    font-family:bloom-reg, "Open Sans", sans-serif, Arial, Nunito;
    font-size: 15px;
    font-weight: 700;
    line-height: 16.5px;
    letter-spacing: 1.2px;
}
footer {
  background: #2e2f30;
  padding-left:185px;
  padding-bottom: 3px;
  font-family:"Josefin Sans", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}
